<!DOCTYPE html>
<html xmlns:mml="http://www.w3.org/1998/Math/MathML">
  <head>
    <title>eLife Lens</title>
    <link href='styles/fonts/open-sans/open-sans.css' rel='stylesheet' type='text/css'/>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='styles/font-awesome.css' rel='stylesheet' type='text/css'/>

    <link href="styles/lens.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- Custom View Styles -->
    <link href="styles/library.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="styles/collection.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- Generic Surface Styles -->
    <link href="lib/substance/substance-surface/styles/surface.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- Lens.Article related styles -->
    <link href="lib/substance/lens-article/article.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/text/text.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/paragraph/paragraph.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/heading/heading.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/formula/formula.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/codeblock/codeblock.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/figure/figure.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="lib/substance/lens-article/nodes/figure/image/image.css" media="screen" rel="stylesheet" type="text/css" />


    <!-- Templates -->
    <script type="text/html" name="lens">
      <div class="browser-not-supported" style="display: none;">
        <h1>PLoS Lens</h1>
        <p>
          Lens is in its early days and has not yet been tested against the browser that you are using.
          It might break on your system. If it does, let us know, we are very interested in finding
          out where it works well, and where it doesn not.
        </p>
        <a href="#" class="hide-browser-warning">Okay</a>
      </div>
      <a href="#" class="home">
        <img src="./images/logo.png">
        <div class="go-back">Articles</div>
      </a>

      <div class="loading" style="display: none;"></div>

      <div id="main">

      </div>
    </script>

    <!-- Collection View -->
    <script type="text/x-ejs-template" name="collection">
      <% _.each(documents, function(doc) { %>
        <a class="document" href="#<%= doc.id %>">
          <div class="title">
            <%= doc.title %>
          </div>
        </a>
      <% }) %>
    </script>

    <!-- Library -->
    <script type="text/x-ejs-template" name="library">
      <div class="navigation">

      </div>

      <!-- this is where the doc list gets rendered -->
      <div class="collection"></div>
    </script>

    <!-- Article View -->
    <script type="text/x-ejs-template" name="article">
      <!-- Main Document Content -->
      <div class="document">

      </div>

      <!-- Resources panel -->
      <div class="resources">
      </div>
    </script>

    <script type="text/x-ejs-template" name="surface">
      <!--<div class="controls">

      </div>-->
      <!-- where the content goes -->
      <div class="nodes"></div>
    </script>

    <!-- Substance.Text Node -->
    <!-- Used for paragraphs and headings -->
    <script type="text/x-ejs-template" name="text">
      <div class="content"></div>
    </script>

    <script type="text/x-ejs-template" name="image">
      <div class="content">
        <div class="image-char">
          <img src="<%= medium || url %>"/>
          <div class="overlay"></div>
        </div>
      </div>
    </script>

    <!-- Substance.TestCenter -->
    <script type="text/text/x-handlebars-template" name="test_center">
      <div class="test-suites">
        {{#each test_suites}}
          <a class="test-suite {{name}}" sbs-click='showReport({{name}})' href="#tests/{{name}}">
            {{name}}
            <div class="status"></div>
          </a>
        {{/each}}
      </div>

      <div class="test-report">

      </div>

      <div class="test-output">

      </div>
    </script>

    <!-- Substance.TestReport -->
    <script type="text/text/x-handlebars-template" name="test_report">
      <div class="border-right"></div>
      <h2>Subtance.{{name}}</h2>
      <div class="tests">
        {{#each tests}}
          <div class="test">
            <div class="name">{{name}}</div>
            <div class="actions">
              {{#each actions}}
                <div class="action {{#ifelse error "error" "success"}}{{/ifelse}}">
                  <div class="status">
                    <i class="{{#ifelse error "icon-frown" "icon-smile"}}{{/ifelse}}"></i>
                  </div>
                    {{@index}}. {{label}}
                  {{# if error }}
                  <div class="error-message">{{error.message}}</div>
                  <div class="error-source">
                    <pre>{{sourcecode}}</pre>
                  </div>
                  <div class="stack-trace">
                    <pre>{{error.stack}}</pre>
                  </div>
                  {{/if}}
                  <div class="duration">
                     {{duration}} ms
                  </div>
                </div>
              {{/each}}
            </div>
          </div>
        {{/each}}
      </div>
    </script>

    <script src="lib/underscore.js"></script>
    <script src="lib/jquery-2.0.3.min.js"></script>
    <script src="lib/backbone.js"></script>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      "HTML-CSS": { linebreaks: { automatic: true } },
             SVG: { linebreaks: { automatic: true } }
    });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    #####scripts#####

    <script>
      // var sandbox = new Substance.Sandbox();
      $(function() {
        var boot = require("/src/boot.js");
        window.Lens = boot();
      });

    </script>
  </head>
  <body>

  </body>
</html>
