<!DOCTYPE html>
<html xmlns:mml="http://www.w3.org/1998/Math/MathML">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title>eLife Lens - A novel way of seeing content</title>
    
    <!-- Resources  -->
    <script type="text/x-ejs-template" name="resources">
      <div class="resource-types figure">
        <div class="resource-type toc" data-type="toc"><i class="icon-align-left"></i><span> Contents</span></div>
        <div class="resource-type figure" data-type="figure"><i class="icon-camera"></i><span> Figures</span></div>
        <div class="resource-type publication" data-type="publication"><i class="icon-link"></i><span> References</span></div>
        <div class="resource-type info" data-type="info"><i class="icon-info-sign"></i><span> Article Info</span></div>
      </div>

      <div class="resources-header">
        <div class="text"></div>
      </div>

      <div class="content-wrapper"></div>
    </script>

    <!-- TOC -->
    <script type="text/x-ejs-template" name="toc">
      <div class="headings">
        <% _.each(headings, function(h) { %>
          <a href="#" class="heading-ref level-<%= h.level %>" data-node="<%= h.id %>"><%= h.content %></a>
        <% }); %>
      </div>
    </script>

    <!-- Document Info  -->
    <script type="text/x-ejs-template" name="document_info">
      <div class="info" style="position: relative;">
        <%= content %>
      </div>
    </script>

    <!-- Content  -->
    <script type="text/x-ejs-template" name="content">

      <div class="document">
        <div class="document-border"></div>
        <!--<div class="document-title"></div>-->
        <div class="content">
          <div class="wrapped" style="position: relative;">
            <div class="nodes">
              <%= content %>
            </div>
          </div>
        </div>
      </div>

      <div class="outline">
      
      </div>

      <div class="resources">

      </div>
    </script>


    <!-- ====================== -->
    <!-- Content Node templates -->
    <!-- ====================== -->

    <!-- Lens.Person -->
    <script type="text/x-ejs-template" name="node_person">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node person resource">
        <div class="resource-header">
          <% if (node.id.indexOf('author') >= 0) { %>
            <div class="type person author"><i class="icon-user"></i> Author</div>
          <% } else { %>
            <div class="type person editor"><i class="icon-edit"></i> Editor</div>
          <% } %>
          <div class="name"><%= node["given-names"] %> <%= node["last-name"] %></div>
        </div>
        <% if (node["image"]) { %>
          <div class="image">
            <img width="150" src="<%= node["image"] %>">
          </div>
        <% } %>
        <div class="affiliations">
          <% _.each(node.affiliations, function(aff) { %>
            <div class="affiliation">
              <%= _.compact([aff.department, annotate(aff.institution, 'name'), annotate(aff.institution, 'city'), annotate(aff.institution, 'country')]).join(', ') %>
            </div>
          <% }); %>
        </div>

        <% if (node.contribution) { %>
          <div class="contribution">
            <div class="label">Contribution</div>
            <div class="value"><%= node.contribution %></div>
          </div>
        <% } %>

        <% if (node.funding && node.funding.length > 0) { %>
          <div class="fundings">
            <div class="label">Funding</div>
            <% _.each(node.funding, function(f) { %>
              <div class="value"><%= _.compact([annotate(f, 'institution'), annotate(f, 'accession')]).join(', ') %></div>
            <% }); %>
          </div>
        <% } %>

        <!-- For correspondence  -->
        <% email = node.email ? annotate(node.email, 'email') : '' %>
        <% if (email) { %>
          <div class="for-correspondence">
            <div class="label">For correspondence</div>
            <div class="value"><a href="mailto:<%= email %>"><%= email %></a></div>
          </div>
        <% } %>
      </div>
    </script>

    <!-- Lens.PublicationInfo -->
    <script type="text/x-ejs-template" name="node_publication_info">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node publication_info"> 
        <table class="categorization">
          <tr>
            <td>
              <div class="label">Subject</div>
              <div class="value"><%= doc.properties['subjects'].join(', ') %></div>
            </td>
            <td>
              <div class="label">Organism</div>
              <div class="value"><%= doc.properties['research_organisms'] ? doc.properties['research_organisms'].join(', ') : '' %></div>
            </td>
          </tr>
          <tr>
            <td colspan="2">
              <div class="label">Keywords</div>
              <div class="value"><%= doc.properties['keywords'] ? doc.properties['keywords'].join(', ') : '' %></div>
            </td>
            <td></td>
          </tr>
        </table>

        <div class="label links">
          Links
        </div>

        <div class="links">
          <a href="<%= doc.properties['pdf_link'] %>" class="link pdf-link"><i class="icon-download-alt"></i> PDF</a>
          <a href="<%= doc.properties['json_link'] %>" class="link json-link"><i class="icon-download-alt"></i> JSON</a>
          <a href="<%= doc.properties['xml_link'] %>" class="link xml-link"><i class="icon-download-alt"></i> XML</a>
          <a href="<%= doc.properties['doi'] %>#" class="link doi-link"><i class="icon-external-link-sign"></i> DOI</a>
        </div>

        <table class="dates">
          <tr>
            <td>
              <div class="label">Received</div>
              <div class="value"><%= doc.properties.received_on %></div>
            </td>
            <td>
              <div class="label">Accepted</div>
              <div class="value"><%= doc.properties.accepted_on %></div>
            </td>
            <td>
              <div class="label">Published</div>
              <div class="value"><%= doc.properties.published_on %></div>
            </td>
          </tr>
        </table>
      </div>
    </script>

    <!-- Lens.Email -->
    <script type="text/x-ejs-template" name="node_email">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node email">
        <%= node.email %>
      </div>
    </script>

    <!-- Lens.Dataset -->
    <script type="text/x-ejs-template" name="node_dataset">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node dataset">
        <div class="title"><%= node.title %></div>
        <div class="descr"><%= annotate(node.id, 'content') %></div>
      </div>
    </script>

    <!-- Lens.Cover -->
    <script type="text/x-ejs-template" name="node_cover">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node cover">
        <div class="title"><%= doc.properties.title %></div>
        
        <div class="authors">
          <% _.each(doc.properties.authors, function(aid) { %>
              <a href="#" class="author" id="<%= _.htmlId(aid) %>" data-id="<%= aid %>"><%= get(aid)['given-names'] %> <%= get(aid)['last-name'] %></a>
          <% }); %>
        </div>
      </div>
    </script>

    <!-- Lens.Heading -->
    <script type="text/x-ejs-template" name="node_heading">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node heading level-<%= node.level %>">
        <%= node.content %>
        <div class="focus anchor" title="Highlight element then share the link from the address bar.">
          <i class="icon-bookmark"></i>
          <div class="stripe"></div>
        </div>
      </div>
    </script>

    <!-- Lens.Text -->
    <script type="text/x-ejs-template" name="node_text">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node text">
        <%= annotate(node.id, 'content') %>

        <!-- This should be computed outside -->
        <% var figureCount = _.compact(_.uniq(_.map(doc.find('figure_references', node.id), function(n) { return doc.nodes[n.target]; }))).length; %>
        <% var publicationCount = _.compact(_.uniq(_.map(doc.find('publication_references', node.id), function(n) { return doc.nodes[n.target]; }))).length; %>

        <% if (figureCount > 0 || publicationCount > 0) { %>
          <div class="focus">
            <% if (figureCount > 0) { %>
              <div class="focus-figures" title="Show relevant figures" data-type="figure"><i class="icon-camera"></i><%= figureCount %><div class="arrow"></div></div>
            <% } %>
            <% if (publicationCount > 0) { %>
              <div class="focus-publications" title="Show relevant references" data-type="publication"><i class="icon-link"></i><%= publicationCount %><div class="arrow"></div></div>
            <% } %>
            <div class="stripe"></div>
          </div>
        <% } else { %>
          <div class="focus anchor" title="Highlight element then share the link from the address bar.">
            <i class="icon-bookmark"></i>
            <div class="stripe"></div>
          </div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Quote -->
    <script type="text/x-ejs-template" name="node_quote">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node text quote">
        <div class="quote-content">
          <%= annotate(node.id, 'content') %>
        </div>
        <div class="focus anchor" title="Highlight element then share the link from the address bar.">
          <i class="icon-bookmark"></i>
          <div class="stripe"></div>
        </div>
      </div>
    </script>

    <!-- Lens.Code -->
    <script type="text/x-ejs-template" name="node_codeblock">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node codeblock">
        <pre><%= annotate(node.id, 'content') %></pre>

        <div class="focus anchor" title="Highlight element then share the link from the address bar.">
          <i class="icon-bookmark"></i>
          <div class="stripe"></div>
        </div>
      </div>
    </script>

    <!-- Lens.Formula -->
    <script type="text/x-ejs-template" name="node_formula">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node formula">
        <mml:math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
        <%= node.content %>
        </mml:math>
        <div class="label"><%= node.label %></div>
        <div class="focus anchor" title="Highlight element then share the link from the address bar.">
          <i class="icon-bookmark"></i>
          <div class="stripe"></div>
        </div>
      </div>
    </script>

    <!-- Lens.Image -->
    <script type="text/x-ejs-template" name="node_image">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource figure image">
        <div class="resource-header">
          <% var refs = doc.find("reverse_figure_references", node.id) || []; %>
          <div class="reference-count">mentioned <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure image"><i class="icon-camera"></i> Image</div>
          <div class="name"><%= node.label %></div>
        </div>
        <div class="image-wrapper">
          <img id="image_<%= _.htmlId(node.id) %>" class="thumbnail" src="<%= node.url %>"/>
        </div>

        <div class="large-image-wrapper" style="display: none;">
          <div class="figure-info">
            <div class="name"><%= node.label %> - <%= annotate(node.caption, 'title') %> </div>
            <div class="close-zoom" href="#"><i class="icon-remove-sign"></i> Close</div>
          </div>
          <img id="large_image_<%= _.htmlId(node.id) %>" src="<%= node.large_url %>"/>
        </div>

        <div class="title"><%= annotate(node.caption, 'title') %></div>
        <div class="descr"><%= annotate(node.caption, 'content') %></div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Box -->
    <script type="text/x-ejs-template" name="node_box">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource figure box">
        <div class="resource-header">
          <% var refs = doc.find("reverse_figure_references", node.id) || []; %>
          <div class="reference-count">mentioned <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure box"><i class="icon-camera"></i> Box</div>
          <div class="name"><%= node.label %></div>
        </div>
        <% if (node.url) { %>
          <div class="image-wrapper">
            <img id="image_<%= _.htmlId(node.id) %>" class="thumbnail" src="<%= node.url %>"/>
          </div>
        <% } %>
        
        <div class="title"><%= annotate(node.caption, 'title') %></div>
        <div class="descr"><%= annotate(node.id, 'content') %></div>
        <div class="descr"><%= annotate(node.caption, 'content') %></div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Table -->
    <script type="text/x-ejs-template" name="node_table">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource figure table">
        <div class="resource-header">
          <% var refs = doc.find("reverse_figure_references", node.id) || []; %>
          <div class="reference-count">mentioned <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure table"><i class="icon-table"></i> Table</div>
          <div class="name"><%= node.label %></div>
        </div>
        <div class="table-wrapper">
          <%= node.content %>
        </div>
        <div class="footers">
          <% _.each(node.footers, function(f) { %>
            <div class="footer"><b><%= annotate(f, 'label') %></b> <%= annotate(f, 'content') %></div>
          <% }); %>
        </div>
        <div class="title"><%= annotate(node.caption, 'title') %></div>
        <div class="descr"><%= annotate(node.caption, 'content') %></div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Supplement -->
    <script type="text/x-ejs-template" name="node_supplement">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource figure supplement">
        <div class="resource-header">
          <% var refs = doc.find("reverse_figure_references", node.id) || []; %>
          <div class="reference-count">mentioned <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure supplement"><i class="icon-paper-clip"></i> Supplement</div>
          <div class="name"><%= node.label %></div>
        </div>
        <div class="title"><%= annotate(node.caption, 'title') %></div>
        <div class="descr"><%= annotate(node.caption, 'content') %></div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } %>
        <div class="doi"><b>Source:</b> <a href="<%= node.source %>" target="_new"><%= node.source %></a></div>
      </div>
    </script>

    <!-- Lens.Video -->
    <script type="text/x-ejs-template" name="node_video">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource figure video">
        <div class="resource-header">
          <% var refs = doc.find("reverse_figure_references", node.id) || []; %>
          <div class="reference-count">mentioned <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure video"><i class=" icon-play"></i> Video</div>
          <div class="name"><%= node.label %></div>
        </div>
        <div class="video-wrapper">
          <video controls="controls" poster="<%= node.poster %>" preload="none" style="background-color:black">
            <source src="<%= node.url %>" type="video/mp4; codecs=&quot;avc1.42E01E, mp4a.40.2&quot;">
            <% if (node.url_ogv) { %>
              <source src="<%= node.url_ogv %>" type="video/ogg; codecs=&quot;theora, vorbis&quot;">
            <% } %>
            <% if (node.url_webm) { %>
              <source src="<%= node.url_webm %>" type='video/webm; codecs="vp8, vorbis"'>
            <% } %>
            <img src="<%= node.poster %>">Your browser does not appear to support HTML5 video. Please upgrade your browser.
          </video>
        </div>
        <div class="title"><%= annotate(node.caption, 'title') %></div>
        <div class="descr"><%= annotate(node.caption, 'content') %></div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } %>
      </div>
    </script>


    <!-- Lens.Article -->
    <script type="text/x-ejs-template" name="node_article">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource publication article">
        <div class="resource-header">
          <div class="name"> <%= node.title %> </div>
          <% var refs = doc.find("reverse_publication_references", node.id) || []; %>
          <div class="reference-count">cited <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure publication"><i class="icon-link"></i> Article</div>
        </div>
        
        <div class="authors">
          <%= _.map(node.authors, function(a) { return a['given-names'] + ' ' + a['last-name']}).join(', ') %>
        </div>
        <div class="source">
          <%= [node.source, node.volume].join(', ') %>: 
          <%= [node.fpage, node.lpage].join('-') %>, <%= node.year %>
        </div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } else if (node.citation_url && node.citation_url.length > 0) { %>
          <div class="doi"><%= _.map(node.citation_url, function(c) {
            return '<a href="'+get(c).url+'" target="_new">'+get(c).label+'</a>';
          }).join(', ') %></div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Book -->
    <script type="text/x-ejs-template" name="node_book">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource publication book">
        <div class="resource-header">
          <div class="name"> <%= node.title %> </div>
          <% var refs = doc.find("reverse_publication_references", node.id) || []; %>
          <div class="reference-count">cited <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure publication"><i class="icon-link"></i> Book</div>
        </div>
        
        <div class="authors">
          <%= _.map(node.authors, function(a) { return a['given-names'] + ' ' + a['last-name']}).join(', ') %>
        </div>
        <div class="source">
          <%= [node["source"], node["publisher-name"], node["publisher-loc"], node.year].join(', ') %>
        </div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } else if (node.citation_url && node.citation_url.length > 0) { %>
          <div class="doi"><%= _.map(node.citation_url, function(c) {
            return '<a href="'+get(c).url+'" target="_new">'+get(c).label+'</a>';
          }).join(', ') %></div>
        <% } %>
      </div>
    </script>

    <!-- Lens.Website -->
    <script type="text/x-ejs-template" name="node_website">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource publication website">
        <div class="resource-header">
          <div class="name"> <%= node.title %> </div>
          <% var refs = doc.find("reverse_publication_references", node.id) || []; %>
          <div class="reference-count">cited <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure publication"><i class="icon-link"></i> Website</div>
        </div>
        <div class="authors">
          <%= _.map(node.authors, function(a) { return a['given-names'] + ' ' + a['last-name']}).join(', ') %>
        </div>
        <div class="source">
          <%= node.comment %>
        </div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } else if (node.citation_url && node.citation_url.length > 0) { %>
          <div class="doi"><%= _.map(node.citation_url, function(c) {
            return '<a href="'+get(c).url+'" target="_new">'+get(c).label+'</a>';
          }).join(', ') %></div>
        <% } %>
      </div>
    </script>


    <!-- Lens.Thesis -->
    <script type="text/x-ejs-template" name="node_thesis">
      <div id="node_<%= _.htmlId(node.id) %>" class="content-node resource publication thesis">
        <div class="resource-header">
          <div class="name"> <%= node.title %> </div>
          <% var refs = doc.find("reverse_publication_references", node.id) || []; %>
          <div class="reference-count">cited <%= refs.length > 1 ? refs.length +" times" : "once" %></div>
          <div class="type figure publication"><i class="icon-link"></i> Thesis</div>
        </div>
        
        <div class="authors">
          <%= _.map(node.authors, function(a) { return a['given-names'] + ' ' + a['last-name']}).join(', ') %>
        </div>
        <div class="source">
          <%= [node["publisher-name"], node["publisher-loc"], node.year].join(', ') %>
        </div>
        <% if (node.doi) { %>
          <div class="doi"><b>DOI:</b> <a href="<%= node.doi %>" target="_new"><%= node.doi %></a></div>
        <% } else if (node.citation_url && node.citation_url.length > 0) { %>
          <div class="doi"><%= _.map(node.citation_url, function(c) {
            return '<a href="'+get(c).url+'" target="_new">'+get(c).label+'</a>';
          }).join(', ') %></div>
        <% } %>
      </div>
    </script>

    <!-- Ken.Browser  -->
    <script type="text/x-ejs-template" name="browser">
      <div id="facets"></div>
      <div id="matrix" class="surface"></div>
      <div id="details"></div>
    </script>

    <!-- Ken.Item  -->
    <script type="text/x-ejs-template" name="item">
      <a href="#<%= item._id %>" class="item" id="<%= _.htmlId(item._id) %>" data-id="<%= item._id %>">
        <div class="article-type">
          <%= item.properties["article-type"] %>
          <div class="published_at">
            <% if (item.properties["published_at"]) { %>
              <%= new Date(item.properties["published_at"]).toDateString() %>
            <% } %>
          </div>
        </div>
        <% if (matches.length > 0) { %>
          <div class="markers">
            <% _.each(matches, function(match) { %>
              <div class="marker" style="background: <%= match.color %>"></div>
            <% }); %>
          </div>
        <% } %>
        <div class="name"><%= item.properties.name.substr(0, 300) %></div>
        <div class="authors"><%= item.properties.authors.join(', ') %></div>
      </a>
    </script>

    <!-- Ken.Facets  -->
    <script type="text/x-ejs-template" name="facets">
      <a class="about" href="#about"><i class="icon-info"></i> &nbsp;&nbsp;About eLife Lens</a>

      <div class="article-count">Showing <%= collection.length %> articles</div>
      <% var count = 0; %>
      <% _.each(facets, function(f, key) { %>
        <div class="filter <%= key %>">
          <div class="filter-name"><%= f.name %></div>
          <div class="available-values">
            <% _.each(f.availableValues, function(val) { %>
              <a href="#" class="value <%= val.selected ? 'remove' : 'add' %><%= val.relatedObjects.length > 0 ? " related" : "" %>" data-property="<%= key %>" data-value="<%= val.val %>" style="background: <%= val.color %>">
                <%= val.val.toLowerCase().substr(0, 36) %>
                <span class="frequency"><%= val.objects.length %></span>
              </a>
            <% }); %>
          </div>
        </div>
      <% }); %>
    </script>

    <!-- Lib -->
    <script type="text/javascript" src="lib/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="lib/underscore.js"></script>
    <script type="text/javascript" src="lib/backbone.js"></script>
    <script type="text/javascript" src="lib/keymaster.js"></script>

    <!-- Ken Browser -->
    <script type="text/javascript" src="lib/data.js"></script>
    <script type="text/javascript" src="lib/ken.js"></script>

    <!-- Substance -->
    <script type="text/javascript" src="lib/substance-util.js"></script>
    <script type="text/javascript" src="lib/substance-document.js"></script>

    <!-- MathJax -->
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      "HTML-CSS": { linebreaks: { automatic: true } },
             SVG: { linebreaks: { automatic: true } }
    });
    </script>
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    <!-- Util -->
    <script type="text/javascript" src="src/util.js"></script>
    
    <!-- Lens -->
    <script type="text/javascript" src="src/lens.js"></script>

    <!-- Lens Config -->
    <script type="text/javascript" src="src/config.js"></script>

    <!-- Lens Model -->
    <script type="text/javascript" src="src/renderer.js"></script>
    <script type="text/javascript" src="src/session.js"></script>

    <!-- Views -->
    <script type="text/javascript" src="src/views/document.js"></script>
    <script type="text/javascript" src="src/views/resources.js"></script>
    <script type="text/javascript" src="src/views/resources/toc.js"></script>
    <script type="text/javascript" src="src/views/resources/figures.js"></script>
    <script type="text/javascript" src="src/views/resources/info.js"></script>
    <script type="text/javascript" src="src/views/resources/publications.js"></script>


    <script type="text/javascript">
      $(function() {
        // The Controller
        window.session = new Lens.Session();
        // The Main View
        window.app = new Lens();
        app.render();

        // The Router
        window.router = new Lens.Router({});
        Backbone.history.start();
      });
    </script>
    
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/reset.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/style.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="stylesheets/ken.css"/>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="stylesheets/font-awesome.css">

    <!-- eLife brand fonts -->
    <link type="text/css" rel="stylesheet" href="http://fast.fonts.com/cssapi/c10f70b9-7e7a-4f33-9361-d43022ae343e.css"/>
    
  </head>
  <body>
    <div id="container">
      <div class="browser-not-supported" style="display: none;">
        <h1>eLife Lens</h1>
        <p>
          eLife Lens is in its early days and has not yet been tested against the browser that you are using.
          It might break on your system. If it does, let us know, we are very interested in finding
          out where it works well, and where it doesn't.
        </p>
        <a href="#" class="hide-browser-warning">Okay</a>
      </div>
      <a href="#" class="home">
        <img src="./images/logo.png">
        <div class="go-back">Articles</div>
      </a>
      <div id="header">        
        <div class="title"></div>
        <div class="links">
          <a href="http://github.com/elifesciences/lens" target="_new">About Lens</a>
        </div>
      </div>

      <div class="loading" style="display: none;"></div>

      <div id="main">

      </div>
    </div>
  </body>
</html>