/*
Box
--------------------------------------- */

.content-node.quotation > .content {
  padding: 20px;
}

.surface.content .content-node.quotation {

  /*margin-left: 60px;*/
/*  padding-left: 100px;
  padding-right: 60px;*/

  /*padding: 0px;*/
  /*background: #ccc;*/
}

.document .content-node.quotation .content-node.paragraph {
  /*padding: 0px;*/
  padding: 10px 40px 10px 40px;
  border-left: 3px solid #ccc;
}

.surface.content .content-node.quotation {
  /*background: #ccc;*/

}

.surface.content .content-node.quotation > .content {
  /* border: 1px dotted #ddd; */
}

.surface.content .content-node.quotation .content {
  /* background: #fbfbfb; */
}

.surface.content .content-node.quotation > .content > .label  {
  font-weight: 600;
  padding-bottom: 20px;
}
