/*
Contributor 
--------------------------------------- */

.lens-article .resources .content-node.contributor .resource-header .name {
  font-weight: normal;
  font-size: 12px;
  color: #888;
}

.lens-article .content-node.contributor .content {
  
}

.lens-article .content-node.contributor .affiliation {
  margin-top: 10px;
  font-size: 14px;
}

.lens-article .content-node.contributor .contributor-bio {
  padding-top: 30px;  
}

.lens-article .content-node.contributor .contributor-bio .bio {
  font-size: 14px;
}

.lens-article .content-node.contributor .contributor-bio .bio .content {
  background: transparent;
}

.lens-article .content-node.contributor .contributor-bio img {
  max-width: 120px;
  padding-right: 20px;
  padding-bottom: 20px;
  display: inline;
  float: left;
  display: block;
}

.lens-article .content-node.contributor .contributor-name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 20px;
}

.lens-article .content-node.contributor .label {
  font-size: 14px;
  margin-top: 20px;
  color: #999;
}