/*
  Typography / Basics
---------------------------------------------*/

* {
	margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}


html,body {
  height:100%;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}


/*
General Layout 
--------------------------------------- */

#container {
  position: relative;
  margin: 0 auto;
  min-width: 800px;
  max-width: 1400px; /* 988px / 16px = 61.75em */
  height: 100%;
  /*overflow: hidden;*/
  padding-left: 60px;
}

body, textarea, p, input {
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  color: #505050;
}

a {
  color: #1B6685;
  font-weight: normal;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}

img {
  border: none;
  padding: 0;
  margin: 0;
}

strong { font-weight: 700;}

h1, h2, h3 { 
  font-weight: 700;
}

h1 a { color: white; }
h1 a:hover { color: white; }

h2 {
  font-size: 1.75em; 
  padding-bottom: 20px;
}
  
h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
}
  
p {
  padding-bottom: 20px;
}

p:last-child { padding-bottom: 0; }

.small {
  color: #505050;
  font-size: .75em;
  font-weight: 400;
}

/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;

}


/*
Layout 
--------------------------------------- */



/* main
   --------------------------------------- */

#main {
  height: 100%;
  position: relative;
}


#container .loading {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  position: absolute;
  top: 15px;
  left: 70px;
  right: 0px;
  height: 49px;
  line-height: 50px;
  font-size: 12px;
}

#header {
  display: none;
  position: absolute;
  top: 0px;
  height: 50px;
  left: 0px;
  right: 0px;
  overflow: hidden;
  z-index: 2000;
  margin-right: 15px;
}

#header .links {
  height: 50px;
  line-height: 50px;
  float: right;
  font-size: 12px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  text-transform: uppercase;
  padding-right: 10px;
}

body.current-view.content #header .links {
  display: none;
}



/*
Outline
--------------------------------------- */

#document .outline {
  background: #fff;
  position: absolute;
  left: 0px;
  width:60px;
  top: 0px;
  bottom: 0px;
}

#document .outline .node.cover {
  background: #5c6570;
  opacity: 1;
}

#document .outline .node .arrow {
  display: none;
  position: absolute;
  top: -7px;
  left: -17px;
  
  width: 0; 
  height: 0; 
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid black;
}

#document .outline .node.active .arrow {
  display: block;
}

#document .outline .visible-area {
  position: absolute;
  cursor: pointer;
  top: 40px;
  left: 0px;
  right: 0px;
  height: 80px;
  z-index: 2000;
  background-color: rgba(0,0,0, 0.2);
}

#document .outline .visible-area:hover {
  background-color: rgba(0,0,0, 0.3); 
}

#document .outline .node {
  margin: 0 5px;
  width: 50px;
  background: rgba(0,0,0, 0.4);
  opacity: 0.1;
  cursor: pointer;
}

#container #document .outline .node:hover {
  opacity: 0.6;
}

#document .outline .text {
}

#document .outline .heading {
  background: rgba(0,0,0, 0.5);
}

#container #document .outline .node.active {
  opacity: 1.0;
}

#document .outline.figure .node.highlighted {
  opacity: 0.7;
  background: rgba(145, 187, 4, 1);
  border: 1px solid rgba(145, 187, 4, 1);
}

#document .outline.publication .node.highlighted {
  opacity: 0.7;
  background: rgba(11, 157, 217, 1);
}


/*
Resources Panel 
--------------------------------------- */

#document .resources {
  float: right;
  line-height: 20px;
  width: 45%;
  background: #F5F5F5;
  height: 100%;
  position: relative;
  overflow: hidden;
}

#document .resources .content-node.publication {
  padding-left: 60px;
}

#document .resources .content-node:hover {
}

#document .resources .content-node.active {
  cursor: auto;
}

#document .resources .resources-header {
  display: none;
  position: fixed;
  font-weight: bold;
  font-size: 14px;
  top: 80px;
  height: 40px;
  line-height: 40px;
}

#document .resources .resources-header a {
  font-weight: bold;
  color: black;
}

#document .resources .content-wrapper {
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-left: 5px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.resources .content-wrapper .content-node img.thumbnail {
  padding: 20px;
  background: #fff;
  max-width: 100%;
  max-height: 500px;
  cursor: -webkit-zoom-in;
}

.resources .content-wrapper video {
  padding: 10px;
  max-width: 100%;
  max-height: 500px;
}

a.home {
  position: absolute;
  left: 0px;
  top: 20px;
  opacity: 0.7;
}

a.home img {
  padding-left: 10px;
  display: block;
}

a.home .go-back {
  position: absolute;
  left: -60px;
  top: 5px;
  display: none;
  opacity: 0;
  padding-top: 10px;
  color: #777;
  font-size: 12px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  text-transform: uppercase;
}

a.home:hover .go-back {
  opacity: 1;
}

a.home:hover {
  opacity: 1;
}

/* Switcher */
#document .resources .resource-types {
  overflow: hidden;
  height: 40px;
  position: absolute;
  right: 20px;
  left: 5px;
  top: 0px;
  z-index: 3000;
}

#document.focus-mode .resources .resource-types {
  opacity: 0.5
}

#document .resources .resource-types a {
  color: #444;
}

#document .resources .resource-types .resource-type:hover {
  color: #222;
  background: rgba(0,0,0,0.05);
}

#document .resources .resource-types.toc .toc {
  color: rgba(255,255,255,0.9);
  background: #5c6570;
  /*background: #444;*/
}

#document .resources .resource-types.figure .figure {
  color: rgba(255,255,255,0.9);
  background: #5c6570;
  /*background: rgba(145, 187, 4, 1);*/
}

#document .resources .resource-types.publication .publication {
  color: rgba(255,255,255,0.9);
  background: #5c6570;
  /*background: rgba(11, 157, 217, 1);*/
}

#document .resources .resource-types.info .info {
  color: rgba(255,255,255,0.9);
  background: #5c6570;
  /*background: #6D645D;*/
}

#document .resources .resource-types .resource-type {
  cursor: pointer;
  float: left;
  padding: 0 10px;
  line-height: 40px;
  font-size: 16px;
  color: #333;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
}

#document .resources .resource-types .resource-type:hover {

}

/* Used by all resource types*/
#document .resources .content-node .reference-count {
  font-size: 13px;
  position: absolute;
  right: 20px;

  color: #999;
  top: 40px;
  text-align: right;
}

/*
Figures 
--------------------------------------- */

#document .resources .figure.view {
  display: none;
  position: relative;
}

#document .resources .content-node.resource.figure {
  color: #505050;
  position: relative;
  margin-bottom: 20px;
}

#document .resources .content-node.figure .image-wrapper {
  background: #fff;
  text-align: center;
}

#document .resources .content-node.figure .video-wrapper {
  background: #000;
  text-align: center;
}

#document .resources .content-node.figure .table-wrapper {
  background: #fff;
  text-align: center;
  padding: 20px;
}


#document .resources .content-node.figure .title {
  padding: 10px 20px;
  padding-top: 30px;
  font-size: 16px;
  background: #fff;
  font-weight: bold;
  padding-bottom: 20px;
}

#document .resources .content-node.figure .descr {
  font-size: 14px;
  padding: 0px 20px;
  line-height: 26px;
  background: #fff;
  padding-bottom: 20px;
}

#document .resources .content-node .doi {
  font-size: 14px;
  padding: 10px 20px;
  line-height: 26px;
}

#document .resources .content-node.figure .doi,
  #document .resources .content-node.active .doi {
  background: #fff;
}

/* Table */ 

#document .resources .table-wrapper {
  width: 100%;
  overflow: auto;
}

#document .resources table {
  position: relative;
  
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  margin: 0 auto;
}

#document .resources thead tr {
  background: #eee;
}


#document .resources thead td {
  font-weight: bold;
}

/* Table sub tags */
#document .resources table sub {
   vertical-align: baseline;
   position: relative;
   top: 0.4em;
   font-size: 11px;
}

#document .resources table td {
  padding: 5px;
  font-size: 12px;
  border: 1px solid lightgrey;
}

#document .resources .table .footers {
  padding: 0 20px;
  padding-top: 10px;
  font-size: 12px;
  background: #fff;
}


/*
Publications 
--------------------------------------- */

#document .resources .publication.view {
  position: relative;
  display: none;
}

#document .resources .content-node.resource {
  color: #333;
  position: relative;
  background: #EBEBEB;
  margin-bottom: 30px;
  margin-right: 20px;
  padding: 0px;
}

#document .resources .content-node.resource .resource-header:hover {
  background: rgba(0,0,0,0.05);
}

#document .resources .content-node.resource .resource-header {
  min-height: 80px;
  background: rgba(0,0,0,0.02);
  cursor: pointer;
}

#document .resources .publication.view .content-node.resource.active .resource-header {
  background: rgba(11, 157, 217, 1);
  color: #fff;
}

#document .resources .figure.view .content-node.resource.active .resource-header {
  background: rgba(145, 187, 4, 1);
  color: #fff;
}

#document .resources .content-node.resource.active .resource-header:hover {
  opacity: 0.9;
}

#document .resources .content-node.resource.active .resource-header .name {
  color: #fff;
}

#document .resources .content-node.resource.active .resource-header .reference-count {
  color: rgba(255,255, 255, 0.7);
}

#document .resources .content-node .type {
  position: absolute;
  right: 10px;
  top: 0px;
  height: 35px;
  width: 120px;
  text-align: center;
  background: rgba(0,0,0,0.05);
  font-size: 12px;
  padding: 0 15px;
  line-height: 35px;
  font-weight: bold;
  color: rgba(0,0,0, 0.5);
}


#document .resources .content-node .type i {
  padding-right: 10px;
}

#document .resources .content-node.publication.active .type {
  color: white;
}

#document .resources .content-node.figure.active .type {
  color: white;
}


#document .resources .content-node .highlight {
  position: absolute;
  cursor: pointer;
  right: -3px;
  top: 0px;
  bottom: 0px;
  width: 3px;
  opacity: 1;
}

#document .resources .content-node:hover .highlight {
  background: rgba(0,0,0,0.1);
  opacity: 1.0;
}

#document .resources .publication.view .content-node.active {

}

#document .resources .number {
  font-size: 11px;
  position: absolute;
  text-align: center;
  color: #fff;
  left: 25px;
  top: 25px;
  font-weight: bold;
  width: 24px;
  line-height: 24px;
  border-radius: 12px;
  background: rgba(0,0,0, 0.3);
}

#document .resources .publication.active .number {
  background: rgba(11, 157, 217, 1);
}

#document .resources .name {

  font-family: 'Avenir LT W01 85 Medium', 'Montserrat', 'Source Sans Pro';
  font-size: 16px;
  
  margin-right: 120px;
  line-height: 21px;
  color: #222;
  padding: 10px 20px;
}

#document .resources .publication.view .authors {
  color: rgba(0,0,0.0.4);
  padding: 15px 20px;
  font-size: 16px;
}

#document .resources .publication.view .content-node.active .authors {
  background: #fff;
}

#document .resources .publication.view .source {
  padding: 20px 20px;
  padding-top: 0px;
  font-size: 13px;
  color: #999;
}

#document .resources .publication.view .content-node.active .source {
  background: #fff;
}



/*
Document 
--------------------------------------- */

#document {
  height: 100%;
}


#document .document {
  line-height: 28.5px;
  font-size: 18px;
  position: relative;
  float: left;
  overflow: visible;
  height: 100%;
  width: 55%;
}

#document .document .content {
  position: absolute;
  top: 0px;
  bottom: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

#document .document .nodes {
  margin-right: 15px;
  background: #FFFFFF;
}


/*
TOC 
--------------------------------------- */

#document .toc.view {
  margin-right: 20px;
  position: relative;
}

#document .toc.view .heading-ref {
  display: block;
  color: rgba(0,0,0,0.5);
  font-size: 17px;
  padding: 4px 10px;
  line-height: 20px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  margin-right: 10px;
  border: 1px solid transparent;
}

#document .toc.view .heading-ref.highlighted {
  color: rgba(0,0,0,0.9);
  background: #fff;
  border: 1px solid #eee;
}


#document .toc.view .heading-ref.level-2 {
  padding-left: 30px;
  font-size: 13px;
}

#document .toc.view .heading-ref:hover {
  color: rgba(0,0,0,1.0);
}


/* Content Nodes*/

.content-node {
  border-color: rgba(0,0,0, 0.2);
  position: relative;
  background: white;

  word-wrap: break-word;
}

.document .content-node .focus {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 50px;
  color: #888;
  border-top: 1px solid #eee;
}

.document .content-node .focus-figures {
  width: 50px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.document .content-node .focus i {
  padding-top: 15px;
  display: block;
  font-size: 18px;
  text-align: center;
}

.document .content-node .focus-publications {
  width: 50px;
  height: 70px;
  cursor: pointer;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  position: relative;
}

.document .content-node .focus-figures:hover, .document .content-node .focus-figures.active {
  color: rgba(145, 187, 4, 1.0);
}

.document .content-node .focus-publications:hover, .document .content-node .focus-publications.active {
  color: rgba(11, 157, 217, 1);
}

#document.figure .content-node.active .focus-figures {
  color: rgba(145, 187, 4, 1.0);
}

#document.publication .content-node.active .focus-publications {
  color: rgba(11, 157, 217, 1);
}

.document .content-node .focus.anchor {
  cursor: pointer;
}

.document .content-node.active .focus.anchor, .document .content-node .focus.anchor:hover {
  color: black;
}

.resources .content-node .focus.anchor i {
  display: none;
}

.document .content-node .focus .arrow {
  display: none;
}

.document .content-node .focus .stripe {
  opacity: 0;
  position: absolute;
  right: -3px;
  width: 3px;
  top: 0px;
  bottom: 0px;
  background: black;
}

#container #document .document .content-node.active .focus.anchor .stripe {
  background: black;
}

.document .content-node .focus .arrow {
  position: absolute;
  top: 30px;
  right: -13px;
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid black;
}

#document.figure .content-node.active .focus .focus-figures .arrow {
  border-left: 10px solid rgba(145, 187, 4, 1.0);
  display: block;
}

#document.publication .content-node.active .focus .focus-publications .arrow {
  border-left: 10px solid rgba(11, 157, 217, 1);
  display: block;
}

#document.figure .content-node.active .focus .stripe {
  background: rgba(145, 187, 4, 1.0);
  opacity: 1;
}

#document.publication .content-node.active .focus .stripe {
  background: rgba(11, 157, 217, 1);
}

#document.publication .content-node.active .focus.anchor .stripe {
  background: black;
}

.document .content-node:hover .focus .stripe {
}

.document .content-node.active .focus .stripe {
  display: block;
  opacity: 1;
}

.document .content-node .focus:hover {
}


.content-node.active .focus {
  opacity: 1.0;
}

.content-node.cover {
  background: #5c6570;
  margin-bottom: 50px;
  color: white;
}

.content-node.cover .title {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  line-height: 1.3em;
  font-size: 40px;
  padding: 50px 60px;
  padding-left: 100px;
}

.content-node.cover .authors {
  padding: 10px 60px;
  padding-left: 100px;
  color: rgba(255,255,255, 0.7);
  padding-bottom: 15px;
}

.content-node.cover .affiliations {
  font-size: 14px;
  padding: 10px 60px;
  padding-left: 100px;
  padding-top: 40px;
}

.content-node.cover .abstract {
  color: #777;
  font-size: 20px;
  padding: 30px 60px;
  padding-left: 100px;
  padding-top: 80px;
}

.content-node.active {
  opacity: 1.0;
}

.nodes.figure .content-node.active {
  border-color: rgba(145, 187, 4, 1.0)
}

.nodes.publication .content-node.active {
  border-color: rgba(11, 157, 217, 1);
}

.document .content-node.heading {
  font-size: 24px;
  padding: 20px 60px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-weight: bold;
  padding-left: 100px;
}

.document .content-node .doi-link {
  width: 20px;
  height: 20px;
  margin-top: 2px;
  display: inline-block;
  background: blue;
  opacity: 0.8;
  position: relative;
  background: url(../images/doi-logo.png) center;
}

.document .content-node .doi-link:hover {
  opacity: 1.0;
}

.document .content-node.heading.level-2 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 60px;
  padding-left: 100px;
}

.document .content-node.heading.level-3 {
  font-size: 16px;
  font-weight: bold;
  padding: 20px 60px;
  padding-left: 100px;
}

.document .content-node.text {
  padding: 20px 60px;
  padding-left: 100px;
}

.document .content-node.text.quote {
  font-size: 20px;
  font-style: italic;
}

.document .content-node.text.quote .quote-content {
  border-left: 3px solid #ccc;
  padding: 20px;
  background: #eee;
}

.document .content-node.codeblock {

  padding: 20px 60px;
  padding-left: 100px;
  font-family: Courier;
  font-size: 14px;
}

.document .content-node.formula {
  padding: 30px 60px;
  /*padding-right: 60px;*/
  padding-left: 100px;
  min-height: 80px;
}

.document .content-node.formula .label {
  position: absolute;
  right: 50px;
  top: 0px;
  bottom: 0px;
  line-height: 90px;
}

/* TODO: This must be smarter */
.document .content-node .MathJax_Display {
  margin: 0;
  padding: 20px;
  overflow: auto;
}

/*
Document Info panel 
--------------------------------------- */

#document .resources .info.view {
  position: relative;
  display: none;
}

/* Publication Info */

#document .resources .info .content-node.publication_info {
  padding: 30px 0;
  background: #EBEBEB;
  color: #333;
}

#document .resources .info .content-node.publication_info table {
  padding: 30px;
  border: none;
  width: 100%;
}

#document .resources .info .content-node.publication_info .label.links {
  padding-left: 30px;
}


#document .resources .info .content-node.publication_info .links {
  overflow: auto;
}

#document .resources .info .content-node.publication_info .links .link {
  margin-top: 10px;
  padding: 10px;
  float: left;
  display: block;
  margin-right: 10px;
  background: #fff;
  border-radius: 5px;
}

#document .resources .info .content-node.publication_info table.dates {
  background: #fff;
  margin-top: 30px;
}

#document .resources .info .content-node.publication_info table.dates td {  
  border: none;
  padding-left: 30px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 13px;
  width: 33%;
}

#document .resources .info .content-node.publication_info table.categorization td {
  border: none;
  font-size: 13px;
  padding-left: 30px;
  width: 50%;
}

#document .resources .info .content-node.publication_info .value {
  font-weight: bold;
  font-size: 15px;
}

#document .resources .info .content-node.publication_info .links {
  padding-left: 30px;
}


.resources .info .content-node {
  background: none;
  font-size: 14px;
  margin-right: 20px;
}

.resources .info .content-node.heading.level-1 {
  padding: 20px 10px; 
  font-size: 20px;
  /* hide it for now */
  display: none;
  height: 1px;
  opacity: 0;


  font-weight: bold;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  text-align: right;
  
}

.resources .info .content-node.heading.level-2 {
  font-weight: bold;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  text-transform: uppercase;
  padding: 10px 10px;
  font-size: 13px;

  text-align: right;
}

.resources .info .content-node .label {
  margin-top: 10px;
  font-size: 13px;

  color: rgba(0,0,0,0.6);
}

.resources .info .content-node.text {
  padding: 20px;
  /*background: white;*/
  /*border: 1px solid #ccc;*/
  background: #EBEBEB;
  margin-bottom: 20px;
}

.resources .info .content-node.person {
  /*border: 1px solid #ccc;*/
  margin-bottom: 10px;
  /*background: #fff;*/
  background: #EBEBEB;
  padding: 30px;
  font-size: 14px;
  position: relative;
}

.resources .info .content-node.dataset {
  padding: 10px 20px;
  font-size: 14px;
}

.resources .info .content-node.dataset .title {
  font-weight: bold;
}



.resources .info .content-node.person .affiliations {
  font-size: 15px;
  padding: 10px 20px;
}

.resources .info .content-node.person .contribution,
  .resources .info .content-node.person .fundings,
  .resources .info .content-node.person .for-correspondence {
  padding: 10px 20px;
}

.resources .info .content-node.email {
  padding: 10px 20px;
}


/*
Annotations
--------------------------------------- */

#document span.annotation {
  -webkit-transition-property: background, color;
  -moz-transition-property: background, color;
  transition-property: background, color;

  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

span.annotation.formula_reference, span.publication_reference {
  padding-left: 3px; padding-right: 3px;
}

#document span.emphasis, #document em {
  font-style: italic;
}

#document span.superscript, #document span.subscript, #document sup, #document sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: 12px;
}

#document span.subscript, #document sub {
  top: 0.4em;
}

#document span.strong, #document strong {
  font-weight: bold;
}

#document span.underline {
  text-decoration: underline;
}

span.formula_reference {
  cursor: pointer;
  color: #1B6685;
}

span.formula_reference:hover {
  color: rgba(11, 157, 217, 1);
}

span.figure_reference {
  font-weight: normal;
  background: rgba(145, 187, 4, 0.15);
  color: #495A11;
  border-bottom: 1px solid rgba(145, 187, 4, 0.8);
  cursor: pointer;
}

span.figure_reference:hover {
  background: rgba(145, 187, 4, 0.35);
}

span.figure_reference.active {
  background: rgba(145, 187, 4, 0.7);
}

span.publication_reference {
  font-weight: normal;
  background: rgba(11, 157, 217, 0.075);
  border-bottom: 1px solid rgba(11, 157, 217, 0.4);
  color: #1B6685;
  cursor: pointer;
}

span.publication_reference:hover {
  background: rgba(11, 157, 217, 0.30);
}

span.publication_reference.active {

  background: rgba(11, 157, 217, 0.6);
}


/*
Animations
--------------------------------------- */

/*@-webkit-keyframes pulse_animation {
  25% { opacity: 0.6; }
  50% { opacity: 0.3; }
  100% { opacity: 0.6; }
}

.animations-on #document .outline .node.highlighted {
  opacity: 0.6;
  -webkit-animation-name: 'pulse_animation';
  -webkit-animation-duration: 200ms;
  -webkit-animation-iteration-count: 2;
  -webkit-animation-timing-function: ease-in-out;
}*/



/* Zoom Stuff */

.smooth_zoom_preloader {
  background-image: url(../images/preloader.gif);
}

.smooth_zoom_icons {
  background-image: url(../images/zoom-icons.png);
}


/*
Image Zoom
--------------------------------------- */

.large-image-wrapper {
  background: #fff;
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50px;
  bottom: 50px;
  padding: 10px;
  z-index: 50000;
  text-align: center;
  
  -webkit-transition-property: left, top, right, bottom;
  -moz-transition-property: left, top, right, bottom;
  transition-property: left, top, right, bottom;
  -webkit-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: -webkit-zoom-out;
}

.large-image-wrapper .figure-info {
  position: absolute;
  top: -50px;
  height: 50px;
  right: 0px;
  padding: 0 200px;
  left: 0px;
  background: #eee;
}

.large-image-wrapper .figure-info .close-zoom {
  display: block;

  cursor: pointer;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 200px;
  height: 50px;
  line-height: 50px;
  text-transform: uppercase;
  background: rgba(0,0,0,0.1);
}

.large-image-wrapper .figure-info .close-zoom:hover {
 background: rgba(0,0,0,0.2); 
}

#container .large-image-wrapper .figure-info .name {
  overflow: hidden;
  padding: 0px;
  height: 50px;
  text-overflow: ellipsis;
  padding-top: 10px;
}


.large-image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

/*
Media queries
--------------------------------------- */

@media (max-width: 1155px) {
  .resource-types .resource-type span {
    display: none;
  }
}

/* Responsive design */
/*@media (max-width: 50.5em) {
  #document .document {
    width: 100%;
  }

  #document .resources {
    display: none;
  }
}*/
