/* Publication Info */

.lens-article .content-node.publication-info {
  color: #333;
  font-size: 16px;
}

.lens-article .content-node.publication-info table {
  padding: 10px 0;
  border: none;
  width: 100%;
}

.lens-article .content-node.publication-info .meta-data > .container {
  margin-bottom: 10px;
}

.lens-article .content-node.publication-info .label {
  float: left;
  width: 100px;
  font-size: 14px;
  color: #999;
}

.lens-article .content-node.publication-info .value {
  margin-left: 140px;
}

.article .resources .nodes > .content-node.publication-info > .content {
  border: none;
  padding: 20px;
}

.article .resources .nodes > .content-node.publication-info .content-node[data-id=articleinfo] .heading.level-3 .content {
  font-size: 20px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.article .resources .nodes > .content-node.publication-info .content-node[data-id=articleinfo] .content-node {
  padding-top: 10px;
}

