/*
  Typography / Basics
---------------------------------------------*/

* {
	margin: 0;
}

body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html,body {
  height:100%;
  background: #F5F5F5;
  -webkit-font-smoothing: antialiased;
}


/*
General Layout 
--------------------------------------- */

#container {
  position: relative;
  /*margin: 0 auto;*/
  min-width: 800px;
  max-width: 1400px; /* 988px / 16px = 61.75em */
  height: 100%;
  margin-left: 130px;
}

#container .browser-not-supported {
  text-align: center;
  padding-top: 130px;
  width: 500px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 30px;
}

#container .browser-not-supported h1 {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 30px;
}

#container .browser-not-supported p {
  padding: 30px 0;
}

#container .browser-not-supported a {
  background: #444;
  padding: 2px 10px;
  color: #fff;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
}

#container .browser-not-supported a:hover {
  background: #000;
}


#container .import-teaser {
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  background: green;
  display: none;
}

#container.tease-import .import-teaser {
  display: block;
}

#container.tease-import #main {
  display: none;
}

body, textarea, p, input {
  font-family: 'Source Sans Pro', Helvetica, Arial, Verdana, sans-serif;
  color: #505050;
}

a {
  color: #1B6685;
  font-weight: normal;
  text-decoration: none;
  -moz-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -o-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  -webkit-transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
  transition: background-color 100ms linear, color 100ms linear, opacity 100ms linear;
}

a:hover {
  color: rgba(11, 157, 217, 1);
}

img {
  border: none;
  padding: 0;
  margin: 0;
}

strong { font-weight: 700; }

h1, h2, h3 { 
  font-weight: 700;
}

h1 a { color: white; }
h1 a:hover { color: white; }

h2 {
  font-size: 1.75em; 
  padding-bottom: 20px;
}
  
h3, h4, h5, h6 {
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 700;
}
  
p {
  padding-bottom: 20px;
}

p:last-child { padding-bottom: 0; }

.small {
  color: #505050;
  font-size: .75em;
  font-weight: 400;
}

/* Use border-box box model */

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

/*
Layout 
--------------------------------------- */

/*a.home {
  position: absolute;
  left: 0px;
  top: 20px;
  opacity: 0.7;
}

a.home img {
  padding-left: 10px;
  display: block;
}

a.home .go-back {
  position: absolute;
  left: -60px;
  top: 5px;
  display: none;
  opacity: 0;
  padding-top: 10px;
  color: #777;
  font-size: 12px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  text-transform: uppercase;
}*/

/*a.home:hover .go-back {
  opacity: 1;
}

a.home:hover {
  opacity: 1;
}

a.testsuite {
  position: absolute;
  left: 10px;
  top: 80px;
  font-size: 20px;
  background: #eee;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  opacity: 0.7;
}*/


/* Main Menu Bar
-------------------------------------------------------------------------------*/

#menu {
  background: black;
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: 0px;
  width: 130px;
  background: #F5F5F5;
  padding: 20px;
  /*background: #fff;*/
}

#menu .site-title {
  display: none;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 22px;
}

#menu .site-subtitle {
  display: none;
  font-size: 12px;
  color: #888;
}

#menu .views {
  text-align: right;
}

#menu .views a.toggle-view {
  border: none;
  display: block;
  color: rgba(0,0,0, 0.4);
  line-height: 40px;
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  font-size: 14px;
  /*text-align: center;*/
}


#menu .views a.toggle-view.active {
  color: rgba(0,0,0, 1);
}

#menu .views a.toggle-view:hover {
  color: rgba(0,0,0, 0.8);
  /*background: rgba(0,0,0, 0.3);*/
  /*color: #fff;*/
}

#menu .actions {
  position: absolute;
  bottom: 0px;
  width: 60px;
}

#menu .actions a.action {
  border: none;
  display: block;
  height: 40px;
  line-height: 40px;
  color: rgba(255,255,255, 0.5);
  /*text-align: center;*/
}

#menu .actions a.action:hover {
  background: rgba(0,0,0, 0.3);
  color: #fff;
}

#help {
  padding-top: 50px;
  text-align: center;
}


/* Library override
-------------------------------------------------------------------------------*/

#container .library .collection-toggles {
  display: none;
}

#container .library .collection {
  padding-top: 30px;
  left: 0px;
  width: 1000px;
  overflow: auto;
  background: inherit;
}

#container .library .collection .document {
  margin-right: 20px;
  margin-bottom: 20px;
}

/* main
   --------------------------------------- */

#main {
  height: 100%;
  position: relative;
}


#container .loading {
  font-family: 'Avenir LT W01 85 Heavy', 'Montserrat', 'Source Sans Pro';
  position: absolute;
  top: 15px;
  left: 70px;
  right: 0px;
  height: 49px;
  line-height: 50px;
  font-size: 12px;
}


/*
Media queries
--------------------------------------- */

@media (max-width: 1155px) {
  .resource-types .resource-type span {
    display: none;
  }
}

/* Responsive design */
/*@media (max-width: 50.5em) {
  #document .document {
    width: 100%;
  }

  #document .resources {
    display: none;
  }
}*/
